# Importando Bibliotecas

In [1]:
import pandas as pd
import sys
sys.path.insert(1, '../predict_stock_mvp/pre_train/')
import load_data
import datetime
from datetime import date, timedelta
import random
from tqdm import tqdm

# Carregando tabelas

In [2]:
describe_data = load_data.conect_data.load_table('../../data/data_ingestion/', 'ingestion.itens_describe', 'csv')

In [3]:
input_data = load_data.conect_data.load_table('../../data/data_ingestion/', 'ingestion.itens_input', 'csv')

In [4]:
output_data = load_data.conect_data.load_table('../../data/data_ingestion/', 'ingestion.itens_output', 'csv')

# Definindo e transformando dados do mvp

## ingestion.itens_describe_mvp

In [5]:
describe_data.NUMERO_REGISTRO_PRODUTO.sample(3000).unique()

array([104910012, 116180273, 113000296, ..., 107150155, 142770037,
       172870025], dtype=int64)

In [6]:
itens_mvp = describe_data.NUMERO_REGISTRO_PRODUTO.sample(3000).unique().tolist()

In [7]:
describe_data_mvp = describe_data[describe_data.NUMERO_REGISTRO_PRODUTO.isin(itens_mvp)]

In [8]:
describe_data_mvp.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,TIPO_PRODUTO,CATEGORIA_REGULATORIA,CLASSE_TERAPEUTICA
2,100470305,25351022805,ALENDRONATO SODICO,MEDICAMENTO,SIMILAR,SUPRESSORES DA REABSORCAO OSSEA
22,105500142,25351019591,RABEPRAZOL SODICO,MEDICAMENTO,SIMILAR,ANTIULCEROSOS
37,105830361,25351213644,A SAÚDE DA MULHER,MEDICAMENTO,SIMILAR,ANTIESPASMODICOS E ANTICOLINERGICOS-ASSOC MED...
43,120330280,25351353153,AAS PROTECT,MEDICAMENTO,SIMILAR,ANTIAGREGANTE PLAQUETARIO
55,144930012,25351000183,ABEDERIL,MEDICAMENTO,SIMILAR,ANTINFLAMATORIOS E ANTIREUMATIOS-ASSOCS MEDIC...

In [9]:
describe_data_mvp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 2 to 29795
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   NUMERO_REGISTRO_PRODUTO  3000 non-null   int64
 1   IDENTIFICADOR_DO_ITEM    3000 non-null   int64
 2   NOME_PRODUTO             3000 non-null   object
 3   TIPO_PRODUTO             3000 non-null   object
 4   CATEGORIA_REGULATORIA    2832 non-null   object
 5   CLASSE_TERAPEUTICA       2992 non-null   object
dtypes: int64(2), object(4)
memory usage: 164.1+ KB

In [10]:
load_data.conect_data.save_table(describe_data_mvp, '../../data/data_ingestion/', 'ingestion.itens_describe_mvp', 'csv')

'save_sucess'

## ingestion.itens_input_mvp

In [11]:
input_data_mvp = input_data[input_data.NUMERO_REGISTRO_PRODUTO.isin(itens_mvp)]

In [12]:
input_data_mvp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 2 to 29795
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   NUMERO_REGISTRO_PRODUTO   3000 non-null   int64
 1   IDENTIFICADOR_DO_ITEM     3000 non-null   int64
 2   NOME_PRODUTO              3000 non-null   object
 3   DATA_DE_PEDIDO_DO_ITEM    0 non-null      float64
 4   DATA_DE_ENTRADA_DO_ITEM   2983 non-null   object
 5   DATA_VENCIMENTO_REGISTRO  2973 non-null   object
 6   QUANTIDADE                0 non-null      float64
 7   CUSTO_DE_AQUISIÇÃO        0 non-null      float64
dtypes: float64(3), int64(2), object(3)
memory usage: 210.9+ KB

In [13]:
dates = pd.date_range('1/1/2020', periods=24, freq='M').values

In [14]:
dates

array(['2020-01-31T00:00:00.000000000', '2020-02-29T00:00:00.000000000',
       '2020-03-31T00:00:00.000000000', '2020-04-30T00:00:00.000000000',
       '2020-05-31T00:00:00.000000000', '2020-06-30T00:00:00.000000000',
       '2020-07-31T00:00:00.000000000', '2020-08-31T00:00:00.000000000',
       '2020-09-30T00:00:00.000000000', '2020-10-31T00:00:00.000000000',
       '2020-11-30T00:00:00.000000000', '2020-12-31T00:00:00.000000000',
       '2021-01-31T00:00:00.000000000', '2021-02-28T00:00:00.000000000',
       '2021-03-31T00:00:00.000000000', '2021-04-30T00:00:00.000000000',
       '2021-05-31T00:00:00.000000000', '2021-06-30T00:00:00.000000000',
       '2021-07-31T00:00:00.000000000', '2021-08-31T00:00:00.000000000',
       '2021-09-30T00:00:00.000000000', '2021-10-31T00:00:00.000000000',
       '2021-11-30T00:00:00.000000000', '2021-12-31T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [15]:
input_data_mvp.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE,CUSTO_DE_AQUISIÇÃO
2,100470305,25351022805,ALENDRONATO SODICO,NaN,04/06/2001,01/05/2006,NaN,NaN
22,105500142,25351019591,RABEPRAZOL SODICO,NaN,18/02/2002,01/02/2007,NaN,NaN
37,105830361,25351213644,A SAÚDE DA MULHER,NaN,14/07/2004,01/07/2014,NaN,NaN
43,120330280,25351353153,AAS PROTECT,NaN,20/11/2006,01/09/2012,NaN,NaN
55,144930012,25351000183,ABEDERIL,NaN,21/06/2001,01/06/2011,NaN,NaN

In [16]:
data_frame = pd.DataFrame(None, columns=input_data_mvp.columns)
for product in tqdm(input_data_mvp.NUMERO_REGISTRO_PRODUTO):
    data = input_data_mvp.query(f"NUMERO_REGISTRO_PRODUTO == '{product}'")
    for date in dates:
        data["DATA_DE_ENTRADA_DO_ITEM"] = date
        data_frame = pd.concat([data,data_frame])

  0%|                                                                                         | 0/3000 [00:00<?, ?it/s]C:\Users\anton\AppData\Local\Temp\ipykernel_1612\366977952.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["DATA_DE_ENTRADA_DO_ITEM"] = date
100%|██████████████████████████████████████████████████████████████████████████████| 3000/3000 [30:37<00:00,  1.63it/s]

In [17]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72000 entries, 29795 to 2
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   NUMERO_REGISTRO_PRODUTO   72000 non-null  object
 1   IDENTIFICADOR_DO_ITEM     72000 non-null  object
 2   NOME_PRODUTO              72000 non-null  object
 3   DATA_DE_PEDIDO_DO_ITEM    0 non-null      object
 4   DATA_DE_ENTRADA_DO_ITEM   72000 non-null  datetime64[ns]
 5   DATA_VENCIMENTO_REGISTRO  71352 non-null  object
 6   QUANTIDADE                0 non-null      object
 7   CUSTO_DE_AQUISIÇÃO        0 non-null      object
dtypes: datetime64[ns](1), object(7)
memory usage: 4.9+ MB

In [18]:
lista = []
for product in tqdm(data_frame.NUMERO_REGISTRO_PRODUTO.unique()):
    data = data_frame.query(f"NUMERO_REGISTRO_PRODUTO == {product}")
    for idx, linha in data.iterrows():
        fator_random_ini = random.randrange(1,50)
        fator_random_sum = random.randrange(1,60)
        lista.append(random.randrange(fator_random_ini,fator_random_ini+fator_random_sum))

100%|█████████████████████████████████████████████████████████████████████████████| 3000/3000 [00:18<00:00, 160.82it/s]

In [19]:
lista[:5]

[66, 31, 51, 45, 41]

In [20]:
data_frame["QUANTIDADE_ENTRADA"] = lista

In [21]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE,CUSTO_DE_AQUISIÇÃO,QUANTIDADE_ENTRADA
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-12-31,01/07/2032,NaN,NaN,66
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-11-30,01/07/2032,NaN,NaN,31
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-10-31,01/07/2032,NaN,NaN,51
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-09-30,01/07/2032,NaN,NaN,45
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-08-31,01/07/2032,NaN,NaN,41

In [22]:
lista = []
for product in tqdm(data_frame.NUMERO_REGISTRO_PRODUTO.unique()):
    data = data_frame.query(f"NUMERO_REGISTRO_PRODUTO == {product}")
    fator_random_ini = random.randrange(15,300)
    for idx, linha in data.iterrows():
        lista.append(fator_random_ini)
        
data_frame["CUSTO_DE_AQUISICAO"] = lista

100%|█████████████████████████████████████████████████████████████████████████████| 3000/3000 [00:23<00:00, 127.78it/s]

In [23]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE,CUSTO_DE_AQUISIÇÃO,QUANTIDADE_ENTRADA,CUSTO_DE_AQUISICAO
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-12-31,01/07/2032,NaN,NaN,66,86
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-11-30,01/07/2032,NaN,NaN,31,86
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-10-31,01/07/2032,NaN,NaN,51,86
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-09-30,01/07/2032,NaN,NaN,45,86
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-08-31,01/07/2032,NaN,NaN,41,86

In [24]:
vencimento = []
for product in tqdm(data_frame.NUMERO_REGISTRO_PRODUTO.unique()):
    data = data_frame.query(f"NUMERO_REGISTRO_PRODUTO == {product}")
    time_random = random.randrange(30,180)
    for n in data.DATA_DE_ENTRADA_DO_ITEM:
        vencimento.append(n + timedelta(time_random))

data_frame["DATA_VENCIMENTO"] = vencimento

100%|█████████████████████████████████████████████████████████████████████████████| 3000/3000 [00:15<00:00, 192.94it/s]

In [25]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE,CUSTO_DE_AQUISIÇÃO,QUANTIDADE_ENTRADA,CUSTO_DE_AQUISICAO,DATA_VENCIMENTO
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-12-31,01/07/2032,NaN,NaN,66,86,2022-03-21
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-11-30,01/07/2032,NaN,NaN,31,86,2022-02-18
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-10-31,01/07/2032,NaN,NaN,51,86,2022-01-19
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-09-30,01/07/2032,NaN,NaN,45,86,2021-12-19
29795,105250103,25351212751,OLMECOR TRIPLO,NaN,2021-08-31,01/07/2032,NaN,NaN,41,86,2021-11-19

In [26]:
pedido = []
for product in tqdm(data_frame.NUMERO_REGISTRO_PRODUTO.unique()):
    data = data_frame.query(f"NUMERO_REGISTRO_PRODUTO == {product}")
    time_random = random.randrange(30,180)
    for n in data.DATA_DE_ENTRADA_DO_ITEM:
        pedido.append(n - timedelta(time_random))

data_frame["DATA_DE_PEDIDO_DO_ITEM"] = pedido

100%|█████████████████████████████████████████████████████████████████████████████| 3000/3000 [00:15<00:00, 199.47it/s]

In [27]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE,CUSTO_DE_AQUISIÇÃO,QUANTIDADE_ENTRADA,CUSTO_DE_AQUISICAO,DATA_VENCIMENTO
29795,105250103,25351212751,OLMECOR TRIPLO,2021-07-19,2021-12-31,01/07/2032,NaN,NaN,66,86,2022-03-21
29795,105250103,25351212751,OLMECOR TRIPLO,2021-06-18,2021-11-30,01/07/2032,NaN,NaN,31,86,2022-02-18
29795,105250103,25351212751,OLMECOR TRIPLO,2021-05-19,2021-10-31,01/07/2032,NaN,NaN,51,86,2022-01-19
29795,105250103,25351212751,OLMECOR TRIPLO,2021-04-18,2021-09-30,01/07/2032,NaN,NaN,45,86,2021-12-19
29795,105250103,25351212751,OLMECOR TRIPLO,2021-03-19,2021-08-31,01/07/2032,NaN,NaN,41,86,2021-11-19

In [28]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72000 entries, 29795 to 2
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   NUMERO_REGISTRO_PRODUTO   72000 non-null  object
 1   IDENTIFICADOR_DO_ITEM     72000 non-null  object
 2   NOME_PRODUTO              72000 non-null  object
 3   DATA_DE_PEDIDO_DO_ITEM    72000 non-null  datetime64[ns]
 4   DATA_DE_ENTRADA_DO_ITEM   72000 non-null  datetime64[ns]
 5   DATA_VENCIMENTO_REGISTRO  71352 non-null  object
 6   QUANTIDADE                0 non-null      object
 7   CUSTO_DE_AQUISIÇÃO        0 non-null      object
 8   QUANTIDADE_ENTRADA        72000 non-null  int64
 9   CUSTO_DE_AQUISICAO        72000 non-null  int64
 10  DATA_VENCIMENTO           72000 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(2), object(6)
memory usage: 6.6+ MB

In [29]:
itens_input_mvp = data_frame
itens_input_mvp = itens_input_mvp.sort_values(by=["NUMERO_REGISTRO_PRODUTO","DATA_DE_ENTRADA_DO_ITEM"])

In [30]:
load_data.conect_data.save_table(itens_input_mvp, '../../data/data_ingestion/', 'ingestion.itens_input_mvp', 'csv')

'save_sucess'

## ingestion.itens_output_mvp

In [31]:
output_data_mvp = output_data[output_data.NUMERO_REGISTRO_PRODUTO.isin(itens_mvp)]

In [32]:
output_data_mvp.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_CONSUMO,QUANTIDADE
2,100470305,25351022805,ALENDRONATO SODICO,NaN,NaN
22,105500142,25351019591,RABEPRAZOL SODICO,NaN,NaN
37,105830361,25351213644,A SAÚDE DA MULHER,NaN,NaN
43,120330280,25351353153,AAS PROTECT,NaN,NaN
55,144930012,25351000183,ABEDERIL,NaN,NaN

In [33]:
dates = pd.date_range('2/1/2020', periods=24, freq='M').values

In [34]:
data_frame = pd.DataFrame(None, columns=output_data_mvp.columns)
for product in tqdm(output_data_mvp.NUMERO_REGISTRO_PRODUTO):
    data = output_data_mvp.query(f"NUMERO_REGISTRO_PRODUTO == '{product}'")
    for date in dates:
        data["DATA_DE_CONSUMO"] = date
        data_frame = pd.concat([data,data_frame])

  0%|                                                                                         | 0/3000 [00:00<?, ?it/s]C:\Users\anton\AppData\Local\Temp\ipykernel_1612\2228827052.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["DATA_DE_CONSUMO"] = date
100%|██████████████████████████████████████████████████████████████████████████████| 3000/3000 [09:12<00:00,  5.43it/s]

In [35]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_CONSUMO,QUANTIDADE
29795,105250103,25351212751,OLMECOR TRIPLO,2022-01-31,NaN
29795,105250103,25351212751,OLMECOR TRIPLO,2021-12-31,NaN
29795,105250103,25351212751,OLMECOR TRIPLO,2021-11-30,NaN
29795,105250103,25351212751,OLMECOR TRIPLO,2021-10-31,NaN
29795,105250103,25351212751,OLMECOR TRIPLO,2021-09-30,NaN

In [36]:
data_frame = data_frame.sort_values(by=["NUMERO_REGISTRO_PRODUTO","DATA_DE_CONSUMO"])

In [37]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_CONSUMO,QUANTIDADE
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-02-29,NaN
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-03-31,NaN
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-04-30,NaN
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-05-31,NaN
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-06-30,NaN

In [38]:
itens_input_mvp.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE,CUSTO_DE_AQUISIÇÃO,QUANTIDADE_ENTRADA,CUSTO_DE_AQUISICAO,DATA_VENCIMENTO
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2019-11-04,2020-01-31,01/03/2005,NaN,NaN,29,215,2020-06-10
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2019-12-03,2020-02-29,01/03/2005,NaN,NaN,59,215,2020-07-09
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-01-03,2020-03-31,01/03/2005,NaN,NaN,18,215,2020-08-09
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-02-02,2020-04-30,01/03/2005,NaN,NaN,33,215,2020-09-08
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-03-04,2020-05-31,01/03/2005,NaN,NaN,14,215,2020-10-09

In [39]:
quantidade_saida = []
for idx, product in tqdm(itens_input_mvp.iterrows()):
    quantidade_saida.append(int(product.QUANTIDADE_ENTRADA * random.random()))
    
data_frame["QUANTIDADE_SAIDA"] = quantidade_saida

72000it [00:04, 15494.83it/s]

In [40]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_CONSUMO,QUANTIDADE,QUANTIDADE_SAIDA
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-02-29,NaN,16
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-03-31,NaN,50
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-04-30,NaN,4
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-05-31,NaN,17
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-06-30,NaN,6

In [41]:
itens_input_mvp.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE,CUSTO_DE_AQUISIÇÃO,QUANTIDADE_ENTRADA,CUSTO_DE_AQUISICAO,DATA_VENCIMENTO
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2019-11-04,2020-01-31,01/03/2005,NaN,NaN,29,215,2020-06-10
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2019-12-03,2020-02-29,01/03/2005,NaN,NaN,59,215,2020-07-09
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-01-03,2020-03-31,01/03/2005,NaN,NaN,18,215,2020-08-09
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-02-02,2020-04-30,01/03/2005,NaN,NaN,33,215,2020-09-08
18827,5,25000003601,OBESINAS DR. ALBERTO SEABRA 44,2020-03-04,2020-05-31,01/03/2005,NaN,NaN,14,215,2020-10-09

In [42]:
itens_output_mvp = data_frame

In [43]:
load_data.conect_data.save_table(itens_output_mvp, '../../data/data_ingestion/', 'ingestion.itens_output_mvp', 'csv')

'save_sucess'