# Importando Bibliotecas

In [35]:
import pandas as pd
import sys
sys.path.insert(1, '../predict_stock_mvp/pre_train/')
import load_data
import datetime
from datetime import date, timedelta
import random
from tqdm import tqdm

# Carregando tabelas

In [18]:
describe_data = load_data.conect_data.load_table('../../data/data_ingestion/', 'ingestion.itens_describe', 'csv')

In [19]:
input_data = load_data.conect_data.load_table('../../data/data_ingestion/', 'ingestion.itens_input', 'csv')

In [20]:
output_data = load_data.conect_data.load_table('../../data/data_ingestion/', 'ingestion.itens_output', 'csv')

# Definindo e transformando dados do mvp

## ingestion.itens_describe_mvp

In [21]:
describe_data.NUMERO_REGISTRO_PRODUTO.sample(2000).unique()

array([101830121, 177940011, 105830164, ..., 156510086, 135690020,
       103870021], dtype=int64)

In [22]:
itens_mvp = describe_data.NUMERO_REGISTRO_PRODUTO.sample(2000).unique().tolist()

In [23]:
describe_data_mvp = describe_data[describe_data.NUMERO_REGISTRO_PRODUTO.isin(itens_mvp)]

In [24]:
describe_data_mvp.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,TIPO_PRODUTO,CATEGORIA_REGULATORIA,CLASSE_TERAPEUTICA
3,104730021,25025007821,ARNICA MONTANA,MEDICAMENTO,FITOTERÁPICO,FITOTERAPICO SIMPLES
45,183260387,25351412012,AAS PROTECT,MEDICAMENTO,SIMILAR,ANTIAGREGANTE PLAQUETARIO
49,105530222,25000000473,ABBOTTRACURIUM,MEDICAMENTO,SIMILAR,ANESTESICOS GERAIS INJETAVEIS
55,144930012,25351000183,ABEDERIL,MEDICAMENTO,SIMILAR,ANTINFLAMATORIOS E ANTIREUMATIOS-ASSOCS MEDIC...
61,144930010,25351029908,ABERALGINA,MEDICAMENTO,SIMILAR,ANALGESICOS NAO NARCOTICOS

In [25]:
describe_data_mvp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 3 to 29833
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   NUMERO_REGISTRO_PRODUTO  2000 non-null   int64
 1   IDENTIFICADOR_DO_ITEM    2000 non-null   int64
 2   NOME_PRODUTO             2000 non-null   object
 3   TIPO_PRODUTO             2000 non-null   object
 4   CATEGORIA_REGULATORIA    1866 non-null   object
 5   CLASSE_TERAPEUTICA       1997 non-null   object
dtypes: int64(2), object(4)
memory usage: 109.4+ KB

In [26]:
load_data.conect_data.save_table(describe_data_mvp, '../../data/data_ingestion/', 'ingestion.itens_describe_mvp', 'csv')

'save_sucess'

## ingestion.itens_input_mvp

In [27]:
input_data_mvp = input_data[input_data.NUMERO_REGISTRO_PRODUTO.isin(itens_mvp)]

In [28]:
input_data_mvp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 3 to 29833
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   NUMERO_REGISTRO_PRODUTO   2000 non-null   int64
 1   IDENTIFICADOR_DO_ITEM     2000 non-null   int64
 2   NOME_PRODUTO              2000 non-null   object
 3   DATA_DE_PEDIDO_DO_ITEM    0 non-null      float64
 4   DATA_DE_ENTRADA_DO_ITEM   1991 non-null   object
 5   DATA_VENCIMENTO_REGISTRO  1989 non-null   object
 6   QUANTIDADE                0 non-null      float64
 7   CUSTO_DE_AQUISIÇÃO        0 non-null      float64
dtypes: float64(3), int64(2), object(3)
memory usage: 140.6+ KB

In [29]:
dates = pd.date_range('1/1/2020', periods=24, freq='M').values

In [30]:
dates

array(['2020-01-31T00:00:00.000000000', '2020-02-29T00:00:00.000000000',
       '2020-03-31T00:00:00.000000000', '2020-04-30T00:00:00.000000000',
       '2020-05-31T00:00:00.000000000', '2020-06-30T00:00:00.000000000',
       '2020-07-31T00:00:00.000000000', '2020-08-31T00:00:00.000000000',
       '2020-09-30T00:00:00.000000000', '2020-10-31T00:00:00.000000000',
       '2020-11-30T00:00:00.000000000', '2020-12-31T00:00:00.000000000',
       '2021-01-31T00:00:00.000000000', '2021-02-28T00:00:00.000000000',
       '2021-03-31T00:00:00.000000000', '2021-04-30T00:00:00.000000000',
       '2021-05-31T00:00:00.000000000', '2021-06-30T00:00:00.000000000',
       '2021-07-31T00:00:00.000000000', '2021-08-31T00:00:00.000000000',
       '2021-09-30T00:00:00.000000000', '2021-10-31T00:00:00.000000000',
       '2021-11-30T00:00:00.000000000', '2021-12-31T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [31]:
input_data_mvp.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE,CUSTO_DE_AQUISIÇÃO
3,104730021,25025007821,ARNICA MONTANA,NaN,19/03/2002,01/03/2007,NaN,NaN
45,183260387,25351412012,AAS PROTECT,NaN,09/09/2019,01/11/2026,NaN,NaN
49,105530222,25000000473,ABBOTTRACURIUM,NaN,29/04/1998,01/04/2008,NaN,NaN
55,144930012,25351000183,ABEDERIL,NaN,21/06/2001,01/06/2011,NaN,NaN
61,144930010,25351029908,ABERALGINA,NaN,04/06/2001,01/06/2026,NaN,NaN

In [36]:
data_frame = pd.DataFrame(None, columns=input_data_mvp.columns)
for product in tqdm(input_data_mvp.NUMERO_REGISTRO_PRODUTO):
    data = input_data_mvp.query(f"NUMERO_REGISTRO_PRODUTO == '{product}'")
    for date in dates:
        data["DATA_DE_ENTRADA_DO_ITEM"] = date
        data_frame = pd.concat([data,data_frame])

  0%|                                                                                         | 0/2000 [00:00<?, ?it/s]C:\Users\anton\AppData\Local\Temp\ipykernel_13968\366977952.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["DATA_DE_ENTRADA_DO_ITEM"] = date
100%|██████████████████████████████████████████████████████████████████████████████| 2000/2000 [08:05<00:00,  4.12it/s]

In [37]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48000 entries, 29833 to 3
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   NUMERO_REGISTRO_PRODUTO   48000 non-null  object
 1   IDENTIFICADOR_DO_ITEM     48000 non-null  object
 2   NOME_PRODUTO              48000 non-null  object
 3   DATA_DE_PEDIDO_DO_ITEM    0 non-null      object
 4   DATA_DE_ENTRADA_DO_ITEM   48000 non-null  datetime64[ns]
 5   DATA_VENCIMENTO_REGISTRO  47736 non-null  object
 6   QUANTIDADE                0 non-null      object
 7   CUSTO_DE_AQUISIÇÃO        0 non-null      object
dtypes: datetime64[ns](1), object(7)
memory usage: 3.3+ MB

In [40]:
lista = []
for product in tqdm(data_frame.NUMERO_REGISTRO_PRODUTO.unique()):
    data = data_frame.query(f"NUMERO_REGISTRO_PRODUTO == {product}")
    for idx, linha in data.iterrows():
        fator_random_ini = random.randrange(1,50)
        fator_random_sum = random.randrange(1,60)
        lista.append(random.randrange(fator_random_ini,fator_random_ini+fator_random_sum))

100%|██████████████████████████████████████████████████████████████████████████████| 2000/2000 [00:20<00:00, 97.59it/s]

In [41]:
lista[:5]

[47, 42, 67, 36, 22]

In [42]:
data_frame["QUANTIDADE_ENTRADA"] = lista

In [43]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE,CUSTO_DE_AQUISIÇÃO,QUANTIDADE_ENTRADA
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-12-31,NaN,NaN,NaN,47
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-11-30,NaN,NaN,NaN,42
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-10-31,NaN,NaN,NaN,67
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-09-30,NaN,NaN,NaN,36
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-08-31,NaN,NaN,NaN,22

In [44]:
lista = []
for product in tqdm(data_frame.NUMERO_REGISTRO_PRODUTO.unique()):
    data = data_frame.query(f"NUMERO_REGISTRO_PRODUTO == {product}")
    fator_random_ini = random.randrange(200,5000)
    for idx, linha in data.iterrows():
        lista.append(fator_random_ini)
        
data_frame["CUSTO_DE_AQUISICAO"] = lista

100%|█████████████████████████████████████████████████████████████████████████████| 2000/2000 [00:19<00:00, 102.69it/s]

In [45]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE,CUSTO_DE_AQUISIÇÃO,QUANTIDADE_ENTRADA,CUSTO_DE_AQUISICAO
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-12-31,NaN,NaN,NaN,47,913
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-11-30,NaN,NaN,NaN,42,913
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-10-31,NaN,NaN,NaN,67,913
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-09-30,NaN,NaN,NaN,36,913
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-08-31,NaN,NaN,NaN,22,913

In [47]:
vencimento = []
for product in tqdm(data_frame.NUMERO_REGISTRO_PRODUTO.unique()):
    data = data_frame.query(f"NUMERO_REGISTRO_PRODUTO == {product}")
    time_random = random.randrange(30,180)
    for n in data.DATA_DE_ENTRADA_DO_ITEM:
        vencimento.append(n + timedelta(time_random))

data_frame["DATA_VENCIMENTO"] = vencimento

100%|█████████████████████████████████████████████████████████████████████████████| 2000/2000 [00:14<00:00, 134.78it/s]

In [48]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE,CUSTO_DE_AQUISIÇÃO,QUANTIDADE_ENTRADA,CUSTO_DE_AQUISICAO,DATA_VENCIMENTO
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-12-31,NaN,NaN,NaN,47,913,2022-03-10
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-11-30,NaN,NaN,NaN,42,913,2022-02-07
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-10-31,NaN,NaN,NaN,67,913,2022-01-08
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-09-30,NaN,NaN,NaN,36,913,2021-12-08
29833,100850243,25351062205,BDEXBRAUN,NaN,2021-08-31,NaN,NaN,NaN,22,913,2021-11-08

In [49]:
pedido = []
for product in tqdm(data_frame.NUMERO_REGISTRO_PRODUTO.unique()):
    data = data_frame.query(f"NUMERO_REGISTRO_PRODUTO == {product}")
    time_random = random.randrange(30,180)
    for n in data.DATA_DE_ENTRADA_DO_ITEM:
        pedido.append(n - timedelta(time_random))

data_frame["DATA_DE_PEDIDO_DO_ITEM"] = pedido

100%|█████████████████████████████████████████████████████████████████████████████| 2000/2000 [00:15<00:00, 126.61it/s]

In [50]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE,CUSTO_DE_AQUISIÇÃO,QUANTIDADE_ENTRADA,CUSTO_DE_AQUISICAO,DATA_VENCIMENTO
29833,100850243,25351062205,BDEXBRAUN,2021-07-07,2021-12-31,NaN,NaN,NaN,47,913,2022-03-10
29833,100850243,25351062205,BDEXBRAUN,2021-06-06,2021-11-30,NaN,NaN,NaN,42,913,2022-02-07
29833,100850243,25351062205,BDEXBRAUN,2021-05-07,2021-10-31,NaN,NaN,NaN,67,913,2022-01-08
29833,100850243,25351062205,BDEXBRAUN,2021-04-06,2021-09-30,NaN,NaN,NaN,36,913,2021-12-08
29833,100850243,25351062205,BDEXBRAUN,2021-03-07,2021-08-31,NaN,NaN,NaN,22,913,2021-11-08

In [55]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48000 entries, 29833 to 3
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   NUMERO_REGISTRO_PRODUTO   48000 non-null  object
 1   IDENTIFICADOR_DO_ITEM     48000 non-null  object
 2   NOME_PRODUTO              48000 non-null  object
 3   DATA_DE_PEDIDO_DO_ITEM    48000 non-null  datetime64[ns]
 4   DATA_DE_ENTRADA_DO_ITEM   48000 non-null  datetime64[ns]
 5   DATA_VENCIMENTO_REGISTRO  47736 non-null  object
 6   QUANTIDADE_ENTRADA        48000 non-null  int64
 7   CUSTO_DE_AQUISICAO        48000 non-null  int64
 8   DATA_VENCIMENTO           48000 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(2), object(4)
memory usage: 3.7+ MB

In [56]:
itens_input_mvp = data_frame
itens_input_mvp = itens_input_mvp.sort_values(by=["NUMERO_REGISTRO_PRODUTO","DATA_DE_ENTRADA_DO_ITEM"])

In [57]:
load_data.conect_data.save_table(itens_input_mvp, '../../data/data_ingestion/', 'ingestion.itens_input_mvp', 'csv')

'save_sucess'

## ingestion.itens_output_mvp

In [58]:
output_data_mvp = output_data[output_data.NUMERO_REGISTRO_PRODUTO.isin(itens_mvp)]

In [59]:
output_data_mvp.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_CONSUMO,QUANTIDADE
3,104730021,25025007821,ARNICA MONTANA,NaN,NaN
45,183260387,25351412012,AAS PROTECT,NaN,NaN
49,105530222,25000000473,ABBOTTRACURIUM,NaN,NaN
55,144930012,25351000183,ABEDERIL,NaN,NaN
61,144930010,25351029908,ABERALGINA,NaN,NaN

In [60]:
dates = pd.date_range('2/1/2020', periods=24, freq='M').values

In [61]:
data_frame = pd.DataFrame(None, columns=output_data_mvp.columns)
for product in tqdm(output_data_mvp.NUMERO_REGISTRO_PRODUTO):
    data = output_data_mvp.query(f"NUMERO_REGISTRO_PRODUTO == '{product}'")
    for date in dates:
        data["DATA_DE_CONSUMO"] = date
        data_frame = pd.concat([data,data_frame])

  0%|                                                                                         | 0/2000 [00:00<?, ?it/s]C:\Users\anton\AppData\Local\Temp\ipykernel_13968\2228827052.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["DATA_DE_CONSUMO"] = date
100%|██████████████████████████████████████████████████████████████████████████████| 2000/2000 [04:30<00:00,  7.41it/s]

In [62]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_CONSUMO,QUANTIDADE
29833,100850243,25351062205,BDEXBRAUN,2022-01-31,NaN
29833,100850243,25351062205,BDEXBRAUN,2021-12-31,NaN
29833,100850243,25351062205,BDEXBRAUN,2021-11-30,NaN
29833,100850243,25351062205,BDEXBRAUN,2021-10-31,NaN
29833,100850243,25351062205,BDEXBRAUN,2021-09-30,NaN

In [63]:
data_frame = data_frame.sort_values(by=["NUMERO_REGISTRO_PRODUTO","DATA_DE_CONSUMO"])

In [64]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_CONSUMO,QUANTIDADE
3088,10277002,25991014035,BILAGOGO,2020-02-29,NaN
3088,10277002,25991014035,BILAGOGO,2020-03-31,NaN
3088,10277002,25991014035,BILAGOGO,2020-04-30,NaN
3088,10277002,25991014035,BILAGOGO,2020-05-31,NaN
3088,10277002,25991014035,BILAGOGO,2020-06-30,NaN

In [65]:
itens_input_mvp.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE_ENTRADA,CUSTO_DE_AQUISICAO,DATA_VENCIMENTO
3088,10277002,25991014035,BILAGOGO,2019-09-24,2020-01-31,01/01/2005,49,3611,2020-05-22
3088,10277002,25991014035,BILAGOGO,2019-10-23,2020-02-29,01/01/2005,75,3611,2020-06-20
3088,10277002,25991014035,BILAGOGO,2019-11-23,2020-03-31,01/01/2005,72,3611,2020-07-21
3088,10277002,25991014035,BILAGOGO,2019-12-23,2020-04-30,01/01/2005,5,3611,2020-08-20
3088,10277002,25991014035,BILAGOGO,2020-01-23,2020-05-31,01/01/2005,34,3611,2020-09-20

In [68]:
quantidade_saida = []
for idx, product in tqdm(itens_input_mvp.iterrows()):
    quantidade_saida.append(int(product.QUANTIDADE_ENTRADA * random.random()))
    
data_frame["QUANTIDADE_SAIDA"] = quantidade_saida

48000it [00:03, 14701.13it/s]

In [69]:
data_frame.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_CONSUMO,QUANTIDADE,QUANTIDADE_SAIDA
3088,10277002,25991014035,BILAGOGO,2020-02-29,43,21
3088,10277002,25991014035,BILAGOGO,2020-03-31,4,18
3088,10277002,25991014035,BILAGOGO,2020-04-30,69,56
3088,10277002,25991014035,BILAGOGO,2020-05-31,0,0
3088,10277002,25991014035,BILAGOGO,2020-06-30,0,21

In [70]:
itens_input_mvp.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE_ENTRADA,CUSTO_DE_AQUISICAO,DATA_VENCIMENTO
3088,10277002,25991014035,BILAGOGO,2019-09-24,2020-01-31,01/01/2005,49,3611,2020-05-22
3088,10277002,25991014035,BILAGOGO,2019-10-23,2020-02-29,01/01/2005,75,3611,2020-06-20
3088,10277002,25991014035,BILAGOGO,2019-11-23,2020-03-31,01/01/2005,72,3611,2020-07-21
3088,10277002,25991014035,BILAGOGO,2019-12-23,2020-04-30,01/01/2005,5,3611,2020-08-20
3088,10277002,25991014035,BILAGOGO,2020-01-23,2020-05-31,01/01/2005,34,3611,2020-09-20

In [74]:
itens_output_mvp = data_frame

In [75]:
load_data.conect_data.save_table(itens_output_mvp, '../../data/data_ingestion/', 'ingestion.itens_output_mvp', 'csv')

'save_sucess'